*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7d2ae8;
}


h1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 6px 16px ;
    outline: none;
    border: none;
    margin: 0 5px;
    color: #2a1f39;
    background: #ffffff99;
    font-size: 19px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, .09)
}

.wrapper{
    user-select: none;
}

.wrapper .time{
    height: 100px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, .09);
}

.wrapper .time span{
    width: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #333;
}

.time span.colon{
    width: 10px;
}

.time span.ms-colon,
.time span.millisecond {
    color: #7d2ae8;
}

.wrapper .buttons {
    text-align: center;
    margin-top: 20px;

}

.buttons button {
    padding: 6px 16px ;
    outline: none;
    border: none;
    margin: 0 5px;
    color: #7d2ae8;
    background: #fff;
    font-size: 19px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, .09);
}

.buttons button.active,
.buttons button.stopActive {
    pointer-events: none;
    opacity: .7;
}